.input {
    padding: 1.3rem;
    font-size: 1.4rem;
    border: 1px solid rgba($darkColor, .2);
    font-family: sans-serif;
    width: 100%;
    outline: none;
    margin-bottom: 2rem;
}
textarea {
    min-height: 15rem;
}