// main colors
$mainColor: #0084e3;
$darkColor: #232323;
$grayColor: #646363;
$lightGrayColor: #bcbcbc;
$whiteColor: #ffffff;
$blackColor: #000000;


//section padding
$defaultPadding: 8rem 0;
$alternativePadding: 8rem 0 4rem;
