footer {
    padding: 8rem 0 0;
    color: #fff;
    background: $darkColor;

    .info {
        @extend %after-image;
        .content {
            @extend %m-b-4;
    
            i {
                font-size: 5rem;
            }
    
            h3 {
                font-size: 1.5rem;
                margin: 1rem 0;
            }
    
            .text-normal {
                color: $lightGrayColor;
    
                &:last-of-type::after {
                    content: "";
                    display: block;
                    width: 5rem;
                    height: 1px;
                    margin: auto;
                    background: #fff;
                    margin-top: 1.5rem;
                }
            }
        }
    }

    .social-icons {
        border-top: 1px solid $grayColor;
        padding-top: 20px;

        li {
            a {
                color: $whiteColor;
            }
        }
    }

    p {
        font-size: 1.5rem;
        padding: 10px;
    }
}